# Auto detect text files and perform LF normalization
* text=auto
# Ignore HTML files from language stats
*.html linguist-vendored
# Ignore JavaScript files from language stats
*.js linguist-vendored

# Ignore Makefiles from language stats
Makefile linguist-vendored

# Ignore CSS files from language stats
*.css linguist-vendored

# Ignore Batch files from language stats
*.bat linguist-vendored

# MATLAB files
*.m linguist-language=MATLAB
*.slx linguist-language=MATLAB
*.sldd linguist-language=MATLAB

# C language files
*.c linguist-language=C
*.h linguist-language=C

# AUTOSAR ARXML files
*.arxml linguist-language=ARXML
